html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.calculator {
    width: 350px;
    border: 10px solid silver;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#display {
    width: 100%;
    height: 100px;
    text-align: right;
    font-size: 55px;
    padding: 30px 10px 10px;
    background-color: bisque;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#outer-display {
    width: 100%;
    border: 10px solid silver;
}
#black-box {
    width: 100%;
    border: 20px solid black;
}
.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px 10px 30px;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    background-color: silver;
}
button {
    font-size: 25px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: 0ch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#number, #decimal {
    background-color: grey;
    color: white;
}
#operator, #equal-operator {
    background-color: orange;
    color: black;
}
#equal-operator {
    grid-column: 4;
}
#decimal {
    grid-column: 3;
}
#number.number0 {
    grid-column: span 2;
    width: 140px;
    border-radius: 30px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: gold;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}